// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.text-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .text-info {
        display: flex;
        justify-content: space-around;
        width: 700px;
        span {
            width: 200px;
        }
    }
}
.order-list {
    margin-left: 50px;
    font-weight: bold;
}
.red-txt {
    color: red;
}

.active {
    color: blue;
    font-size: 16px;
    font-weight: bold;
}

.edit-header-span {
    font-size: 20px;
    padding: 70px;
}
